# Assignment 1

In [1]:
# Q1 
#In the question the values are "Hello",-87.8, 6 and expressions are *, -,/,+

In [2]:
# Q2 
'''A string is a sequence of characters , whereas variable are the referance or pointer to a object 
so that whenever we want to call the object we can call variable name'''

In [4]:
# Q3
#"There is integer, float , boolean,string"

In [5]:
# Q4
# An expression is made up of operators and operands

In [7]:
#Q5
''' A statement in Python is used for creating variables or for displaying values.
The expression in Python produces some value or result after being interpreted by the Python interpreter'''

' A statement in Python is used for creating variables or for displaying values.\nThe expression in Python produces some value or result after being interpreted by the Python interpreter'

In [8]:
#Q6
bacon = 22
print(bacon + 1)
# here the bacon is 22

23

In [11]:
# Q7
print('spam'+'spamspam')
print('spam'*3)

spamspamspam
spamspamspam

In [12]:
# Q8
# A variable name can contain a alphabet or a underscore an integer can't be used to assign a value

In [13]:
# Q9
# The three functions are int(), str(), float()

In [17]:
# Q10
# We are getting error as we are concating string and integer so we should convert int to str with " "
'I have eaten'+' 99 '+'burritos'

'I have eaten 99 burritos'